.places__image {
  object-fit: contain;
  max-width: 460px;
  align-self: flex-start;
}

@media screen and (max-width: 1279px) {
  .places__image {
    max-width: 440px;
  }
}

@media screen and (max-width: 1023px) {
  .places__image {
    max-width: 340px;
  }
}

@media screen and (max-width: 767px) {
  .places__image {
    max-width: 320px;
  }
}

@media screen and (max-width: 580px) {
  .places__image {
    max-width: 580px;
    width: 100%;
    margin: 0 auto 32px;
  }
}
