.footer {
  margin: 0;
  width: calc(100% - 96px);
  padding: 92px 48px 24px 48px;
}

@media screen and (max-width: 1023px) {
  .footer {
    width: calc(100% - 48px);
    padding-right: 24px;
    padding-left: 24px;
    padding-top: 88px;
  }
}

@media screen and (max-width: 767px) {
  .footer {
    width: calc(100% - 32px);
    padding-right: 16px;
    padding-left: 16px;
    padding-top: 64px;
  }
}
